html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.side-panel {
  width: 360px;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  background: #f4f4f4;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.panel-header {
  position: sticky;
  top: -16px;
  z-index: 10;

  background: #f4f4f4;
  margin: -16px -16px 16px -16px;
  padding: 16px;

  border-bottom: 1px solid #676767;
}

.panel-header h2 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  background: #222;
  color: white;
}

button:hover {
  opacity: 0.85;
}

.day {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: #eaeaea;
}

.day-date {
  width: auto;
  font-weight: bold;
  font-size: 15px;
  border: none;
  background: transparent;
}

.day-date:focus {
  outline: none;
  background: white;
}

.day-body {
  padding: 12px;
}

.day.collapsed .day-body {
  display: none;
}

.route,
.pin {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background: #fafafa;
}

.route input,
.route select,
.pin input,
.pin select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 7px;
}

.route label {
  font-size: 13px;
}

.route-actions {
  display: flex;
  gap: 8px;
}

.map-container {
  flex: 1;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.route-header,
.pin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.route-title,
.pin-title {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.route-body,
.pin-body {
  margin-top: 10px;
}

.route.collapsed .route-body,
.pin.collapsed .pin-body {
  display: none;
}

.route-header-actions,
.pin-header-actions {
  display: flex;
  gap: 6px;
  flex-shrink: 0;
}

.delete-route-btn,
.delete-pin-btn,
.danger-btn {
  background: #8b1e1e;
}

.route-header-info,
.pin-header-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.route-time-summary,
.pin-time-summary {
  font-size: 12px;
  opacity: 0.75;
  margin-top: 3px;
}

.emoji-icon {
  background: transparent;
  border: none;
}

.emoji-icon .emoji-marker {
  font-size: 32px;
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
}

.pin .pin-duration-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pin .pin-duration-row input {
  width: 70px;
  margin: 0;
}